<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.DerbyDialect</property>
    <property name="hibernate.connection.driver_class">org.apache.derby.jdbc.ClientDriver</property>
    <property name="hibernate.connection.url">jdbc:derby://localhost:1527/FTPUsers</property>
    <property name="hibernate.connection.username">przemo</property>
    <property name="hibernate.connection.password">derek</property>
    <mapping resource="data/Operation.hbm.xml"/>
    <mapping resource="data/Ftpuser.hbm.xml"/>
    <mapping resource="data/Operationstatus.hbm.xml"/>
    <mapping resource="data/Loginhistory.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
